<div class="tools">
  <div class="categories">
    <button>
      <svg viewBox="0 0 24 24">
        <title>People</title>
        <path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8zm3.5-9c.8 0 1.5-.7 1.5-1.5S16.3 8 15.5 8 14 8.7 14 9.5s.7 1.5 1.5 1.5zm-7 0c.8 0 1.5-.7 1.5-1.5S9.3 8 8.5 8 7 8.7 7 9.5 7.7 11 8.5 11zm3.5 6.5c2.3 0 4.3-1.5 5-3.5H7c.7 2 2.7 3.5 5 3.5z"/>
      </svg>
    </button>
    <button>
      <svg viewBox="0 0 24 24">
        <title>Nature</title>
        <path d="M14 6l-3.8 5 3 3.8-1.7 1.2L7 10l-6 8h22L14 6z"/>
      </svg>
    </button>
    <button>
      <svg viewBox="0 0 24 24">
        <title>Food & drink</title>
        <path d="M11 13v6H6v2h12v-2h-5v-6l8-8V3H3v2l8 8zM7.5 7l-2-2h13l-2 2h-9z"/>
      </svg>
    </button>
    <button>
      <svg viewBox="0 0 24 24">
        <title>Celebration</title>
        <path d="M20 6h-2.2l.2-1c0-1.7-1.3-3-3-3-1 0-2 .5-2.5 1.4L12 4l-.5-.7C11 2.5 10 2 9 2 7.3 2 6 3.3 6 5c0 .3 0 .7.2 1H4C3 6 2 7 2 8v11c0 1 1 2 2 2h16c1 0 2-1 2-2V8c0-1-1-2-2-2zm-5-2c.6 0 1 .5 1 1s-.5 1-1 1-1-.5-1-1 .5-1 1-1zM9 4c.6 0 1 .5 1 1s-.5 1-1 1-1-.5-1-1 .5-1 1-1zm11 15H4v-2h16v2zm0-5H4V8h5l-2 2.8L8.6 12 11 8.8l1-1.4 1 1.4 2.4 3.2 1.6-1.2L15 8h5v6z"/>
      </svg>
    </button>
    <button>
      <svg viewBox="0 0 24 24">
        <title>Activity</title>
        <path d="M15.5 5.5c1 0 2-1 2-2s-1-2-2-2-2 1-2 2 1 2 2 2zM5 12c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.5c-2 0-3.5-1.6-3.5-3.5S3 13.5 5 13.5 8.5 15 8.5 17 7 20.5 5 20.5zm5.8-10L13.2 8l.8 1c1.3 1.2 3 2 5 2V9c-1.4 0-2.6-.6-3.5-1.5l-2-2c-.4-.3-1-.5-1.5-.5s-1 .2-1.4.6L7.8 8.4c-.4.4-.6 1-.6 1.4 0 .6.2 1 .6 1.4L11 14v5h2v-6.2l-2.2-2.3zM19 12c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.5c-2 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5z"/>
      </svg>
    </button>
    <button>
      <svg viewBox="0 0 24 24">
        <title>Travel</title>
        <path d="M10.2 9 21 16v-2l-8-5V3.5c0-.8-.7-1.5-1.5-1.5S10 2.7 10 3.5V9l-8 5v2l8-2.5V19l-2 1.5V22l3.5-1 3.5 1v-1.5L13 19v-5.5l8 2.5z"/>
      </svg>
    </button>
    <button>
      <svg viewBox="0 0 24 24">
        <title>Objects</title>
        <path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8-6.6L20.5 6 19 4.6 17.6 6C16 4.7 14 4 12 4c-5 0-9 4-9 9s4 9 9 9 9-4 9-9c0-2-.7-4-2-5.6zM12 20c-4 0-7-3-7-7s3-7 7-7 7 3 7 7-3 7-7 7z"/>
      </svg>
    </button>
  </div>
  <button class="del">
    <svg viewBox="0 0 24 24">
      <title>Backspace</title>
      <path d="M22 3H7c-.7 0-1.2.3-1.6 1L0 12l5.4 8c.4.6 1 1 1.6 1h15c1 0 2-1 2-2V5c0-1-1-2-2-2zm-3 12.6L17.6 17 14 13.4 10.4 17 9 15.6l3.6-3.6L9 8.4 10.4 7l3.6 3.6L17.6 7 19 8.4 15.4 12l3.6 3.6z"/>
    </svg>
  </button>
</div>
<div class="keys">
  {{#each emoji}}
    {{#each this}}<button>{{this}}</button>{{/each}}
  {{/each}}
</div>
<div class="space">
  <button>Space</button>
</div>